* {
    background: lightgrey;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    color: darksalmon;
}

.table-btns {
    display: inline-block;
    position: relative;
    left: 30%;
}

.html-table {
    border: 2px solid slateblue;
    margin: 2rem auto;
    border-radius: 5px;
}

th {
    background: lightsalmon;
    color: darkslateblue;
}

td {
    border-top: 1px solid slategrey;
}


/* CSS Grid */

.css-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 2.5rem;
    margin: 2rem 3rem;
}

.grid-container {
    border: 1px solid salmon;
    height: 5rem;
    background: lightslategray;
    color: white;
    align-content: center;
    text-align: center;
    padding: 2rem;
    border-radius: 5px;
}

.grid-container:hover {
    background: darksalmon;
    border: 2px solid darkslateblue;
}

.grid-btns {
    display: inline-block;
    position: relative;
    left: 34%;
}


/* Buttons */

.btn {
    padding: 1rem;
    font-size: 1rem;
    border-radius: 10px;
    background-color: darksalmon;
    color: white;
    outline: none;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.85;
}

.hide {
    visibility: hidden;
}