@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');

* {
    background: lightgrey;
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    font-family: 'Questrial', sans-serif;
}

.title {
    display: flex;
    justify-content: center;
    font-family: 'Questrial', sans-serif;
}


h2 {
    text-align: center;
    color: darksalmon;
}


/* Nav */


nav {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 40px;
    color: #eee;
    margin: 3rem 0;
    font-size: 1.2rem;
}

nav ul {
    padding: 0;
    margin: 0 0 2rem 0;
}

nav li {
    display: inline;
    padding: 1rem;
}

nav a {
    display: inline-block;
    width: 100px;
    text-align: center;
    text-decoration: none;
    padding: 10px 0;
    color: #eee;
    text-decoration: none;
}

nav a:hover {
    color: lightsalmon;
}

/* HTML Table */

.html-table {
    border: 2px solid slateblue;
    margin: 2rem auto;
    border-radius: 5px;
}

th {
    background: lightsalmon;
    color: darkslateblue;
}

td {
    border-top: 1px solid slategrey;
}


/* CSS Grid */

.css-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 2.5rem;
    margin: 2rem 3rem;
}

.grid-container {
    border: 1px solid salmon;
    background: lightslategray;
    color: white;
    align-content: center;
    text-align: center;
    padding: 2rem;
    border-radius: 5px;
}

.grid-container:hover {
    background: darksalmon;
    border: 2px solid darkslateblue;
}

/* Animations */

#animations {
    width: 80%;
    height: 700px;
    margin: 0 auto;
}


#animations p {
    padding: 3rem;
}

.animate-img {
    position: relative;
    left: 43%;
    padding: 1rem 0 3rem 0;
    animation: swing 2.5s linear infinite alternate;
}

@keyframes swing {
    0% {
        left: 0;
        top: 0;
    }
    20% {
        left: 10%;
        top: 3rem;
    }
    30% {
        left: 20%;
        top: 6rem;
    }
    40% {
        left: 30%;
        top: 9rem;
    }
    50% {
        left: 40%;
        top: 12rem;
    }
    60% {
        left: 50%;
        top: 12rem;
    }
    70% {
        left: 60%;
        top: 9rem;
    }
    80% {
        left: 70%;
        top: 6rem;
    }
    90% {
        left: 80%;
        top: 3rem;
    }
    100% {
        left: 90%;
        top: 0;
    }
}

.animate-img img {
    border-radius: 50%;
    background: transparent;
    margin: 0;
    padding: 0;
}


/* Flexbox */

#flexbox {
    display: flex; 
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    margin: 3rem;
    max-width: 1200px;
}

.flex {
    padding: 4rem;
    margin: 2rem;
    border-radius: 100%;
    width: 60px;
    height: 60px;
}

.flex:hover {
    border: 2px solid lightsalmon;
    opacity: 0.7;
}

.flex-1 {
    background: url(img/doggy2.jpg) no-repeat center;
}

.flex-2 {
    background: url(img/doggy3.jpg) no-repeat center;
}

.flex-3 {
    background: url(img/doggy4.jpg) no-repeat center;
}

.flex-4 {
    background: url(img/doggy5.jpg) no-repeat center;
}

.flex-5 {
    background: url(img/doggy6.jpg) no-repeat center;
}

.flex-6 {
    background: url(img/doggy7.jpg) no-repeat center;
}

.flex-7 {
    background: url(img/doggy8.jpg) no-repeat center;
}

.flex-8 {
    background: url(img/doggy9.jpg) no-repeat center;
}

.bark {
    color: #fff;
    font-size: 2rem;
    text-align: center;
    background: none;
    position: relative;
    top: 100px;
    left: -20px;
}


/* Buttons */

.btn {
    padding: 1rem;
    font-size: 1rem;
    border-radius: 10px;
    background-color: darksalmon;
    color: white;
    outline: none;
    cursor: pointer;
    width: fit-content;
    margin: 1rem;
}

.btn:hover {
    opacity: 0.85;
    color: lightgrey;
}

.hide {
    visibility: hidden;
}

.table-btns,
.animate-btns,
.grid-btns {
    display: flex;
    justify-content: center;
}


/* Clock */

.title {
    font-size: 2rem;
    margin: 2rem;
    padding-top: 6rem;
}

.clock-section {
    margin: 0;
    font-size: 2rem;
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
}

.clock {
    background: lightsalmon;
    width: 30rem;
    height: 30rem;
    border: 20px solid lightslategray;
    border-radius: 50%;
    margin: 50px auto;
    position: relative;
    padding: 2rem;
    box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1), inset 0 0 0 3px #EFEFEF, inset 0 0 10px black, 0 0 10px rgba(0, 0, 0, 0.2);
}

.clock-face {
    background: lightsalmon;
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px);
    border-radius: 50%;
}

.hand {
    width: 50%;
    height: 6px;
    background: black;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}


/* entertainment */

.entertainment {
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    position: relative;
}

.entertainment-text {
    font-size: 1.2rem;
    color: darkslategray;
}

/* Footer */

footer .footer {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 2rem;
    margin: 5rem 170px 0 170px;
    font-size: 0.9rem;
}

.footer a {
    text-decoration: none;
    color: #eee;
    margin-top: 2rem;
}

.footer a:hover {
    color: darkslateblue;
}

.copy {
    margin: 2rem auto;
    text-align: center;
    font-size: 0.6rem;
}

@media (min-width: 1110px){
    .grid1 {
        grid-row: 1 / 4;
    }
    
    .grid7 {
        grid-column: 3/5;
    }
    
    .grid6 {
        grid-row: 2 / 4;
    }
    
    .grid9 {
        grid-column: 3 / 5;
    }
}

@media (max-width: 1100px) {
    .css-grid {
        grid-template-columns: 1fr 1fr 1fr;
        height: fit-content;
        width: fit-content;
        margin: 0 auto;
    }
}

@media (max-width: 780px) {
    .css-grid {
        grid-template-columns: 1fr 1fr;
        height: fit-content;
        width: fit-content;
        margin: 0 auto;
    }
}


#header {
    background: #000111;
}