* {
    background: lightgrey;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    color: darksalmon;
}


/* .table-btns {
    display: inline-block;
    position: relative;
    left: 30%;
} */

.html-table {
    border: 2px solid slateblue;
    margin: 2rem auto;
    border-radius: 5px;
}

th {
    background: lightsalmon;
    color: darkslateblue;
}

td {
    border-top: 1px solid slategrey;
}


/* CSS Grid */

#grid {}

.css-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 2.5rem;
    margin: 2rem 3rem;
}

.grid-container {
    border: 1px solid salmon;
    height: 5rem;
    background: lightslategray;
    color: white;
    align-content: center;
    text-align: center;
    padding: 2rem;
    border-radius: 5px;
}

.grid-container:hover {
    background: darksalmon;
    border: 2px solid darkslateblue;
}


/* .grid-btns {
    display: inline-block;
    position: relative;
    left: 34%;
} */


/* Animations */

#animations {
    width: 80%;
    height: 700px;
    margin: 0 auto;
}


/* .animate-btns {
    display: inline-block;
    position: relative;
    left: 34%;
} */

#animations p {
    padding: 3rem;
}

.animate-img {
    position: relative;
    left: 43%;
    padding: 1rem 0 3rem 0;
    animation: swing 2.5s linear infinite alternate;
}

@keyframes swing {
    0% {
        left: 0;
        top: 0;
    }
    20% {
        left: 10%;
        top: 3rem;
    }
    30% {
        left: 20%;
        top: 6rem;
    }
    40% {
        left: 30%;
        top: 9rem;
    }
    50% {
        left: 40%;
        top: 12rem;
    }
    60% {
        left: 50%;
        top: 12rem;
    }
    70% {
        left: 60%;
        top: 9rem;
    }
    80% {
        left: 70%;
        top: 6rem;
    }
    90% {
        left: 80%;
        top: 3rem;
    }
    100% {
        left: 90%;
        top: 0;
    }
}

.animate-img img {}


/* Flexbox */

.flex-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-basis: auto;
    flex-wrap: wrap;
    margin: 3rem;
}

.flex {
    padding: 4rem;
    background: url(img/doggy2.jpg) no-repeat center;
    margin: 2rem;
}


/* Buttons */

.btn {
    padding: 1rem;
    font-size: 1rem;
    border-radius: 10px;
    background-color: darksalmon;
    color: white;
    outline: none;
    cursor: pointer;
    width: fit-content;
    margin: 1rem;
}

.btn:hover {
    opacity: 0.85;
}

.hide {
    visibility: hidden;
}

.table-btns,
.animate-btns,
.grid-btns {
    display: flex;
    justify-content: center;
}


/* Footer */

footer .footer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 2rem;
}

.footer a {
    text-decoration: none;
    color: darkslateblue;
    border-bottom: 1px darksalmon solid;
}